@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
* {
    font-family: 'Lato', sans-serif;
}

#map {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.mousePosition {
    position: fixed;
    top: auto;
    right: auto;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3fff399;
    height: 50px;
    width: 300px;
    border-radius: 5px;
    border: #059451 2px solid;
    font-size: 18px;
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #ccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "X";
}

.mybutton {
    display: flex;
    background-color: rgba(22, 85, 167, 0.6);
    color: white;
    font-weight: 700;
    height: 25px;
    width: 25px;
    border-radius: 2px;
    border: none;
    justify-content: center;
    align-items: center;
}

.mybutton:hover {
    background-color: rgba(0, 60, 136, 1);
}

.mybutton.clicked:hover {
    background-color: rgba(22, 170, 35, 1);
}

.homeButtonDiv {
    position: relative;
    display: block;
    margin: 10px auto auto 10px;
}

.fsButtonDiv {
    position: relative;
    display: block;
    margin: 1px auto auto 10px;
}

.ol-tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px;
}

.ol-tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.ol-tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.ol-tooltip-measure:before,
.ol-tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.ol-tooltip-static:before {
    border-top-color: #ffcc33;
}